# Ignorer les fichiers des conteneurs Docker
**/db-data
*.pid

# Ignorer les fichiers Python compilés
*.pyc
*.pyo
*.pyd
__pycache__/

# Environnements virtuels
venv/
.env

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration IDE
.vscode/
.idea/
